<h1>Subjects list:</h1>

<table>
  <tr>
    <th>Sr No.</th>
    <th>Subject Name</th>
    <th>Position</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
  <% @subjects.each do |subject| %>
  <tr>
    <td><%=subject.id %></td>
    <td><%=subject.name %></td>
    <td><%=subject.position %></td>
    <td><%=subject.visible ? "Yes" : "No"  %></td>
    <td>
      <%= link_to('View Pages', pages_path(subject_id: subject.id)) %>
      <%= link_to('Show', subject_path(subject)) %> <!-- By default, RAILS send id even if we provide Object -->
      <%= link_to('Edit', edit_subject_path(subject)) %>
      <%= link_to('Delete', delete_subject_path(subject)) %></td>
  </tr>
    <% end %>
</table>
<br/>
<div class="action new">
  <%= link_to("Create New Subject",new_subject_path) %>
</div>
