<h1>Edit Page</h1>

<%= form_for(@page) do |f| %>
<table>
  <tr>
    <th>Page Name</th>
    <td><%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th>Subject Id</th>
    <td><%= f.text_field(:subject_id) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th>Permalink</th>
    <td><%= f.text_field(:permalink) %></td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= f.text_field(:visible) %></td>
  </tr>
</table>
<div class="form-buttons">
  <%= f.submit("Update Page") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to pages", pages_path) %>
</div>
