<h1>All Pages</h1>
<br/>

<table>
  <tr>
    <th>Sr No.</th>
    <th>Subject id</th>
    <th>Page Name</th>
    <th>Permalink</th>
    <th>Position</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
  <% @pages.each do |page| %>
  <tr>
    <td><%=page.id %></td>
    <td><%= link_to(page.subject_id, subject_path(page.subject_id)) %></td>
    <td><%=page.name %></td>
    <td><%=page.permalink %></td>
    <td><%=page.position %></td>
    <td><%=page.visible ? "Yes" : "No"  %></td>
    <td>
      <%= link_to("View Sections", sections_path(page_id: page.id)) %> ||
      <%= link_to('Show', page_path(page, subject_id: @subject.id)) %> ||
      <%= link_to('Edit', edit_page_path(page, subject_id: @subject.id)) %> ||
      <%= link_to('Delete', delete_page_path(page, subject_id: @subject.id)) %></td>
  </tr>
    <% end %>
</table>
<br/>
<div class="action new">
  <%= link_to("Create New Page",new_page_path(subject_id: @subject.id)) %>
</div>
<br/>
<div class="action subjects">
  <%= link_to("Back to Subjects",subjects_path(subject_id: @subject.id)) %>
</div>
