<h1>Show Page: <%= @page.name %></h1>

<table>
  <tr>
    <th>Page Name</th>
    <td><%= @page.name %> </td>
  </tr>
  <tr>
    <th>Subject Id</th>
    <td><%= @page.subject_id %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @page.position %></td>
  </tr>
  <tr>
    <th>Permalink</th>
    <td><%= @page.permalink %></td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= @page.visible %></td>
  </tr>
</table>


<div class="action index">
  <br/>
<%= link_to("Back to pages", pages_path) %>
</div>
