<table>
  <tr>
    <th>Section Name</th>
    <td><%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th>Page Id</th>
    <td><%= f.select(:page_id, @pages_lookup) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.select(:position, 1..@sections_count) %></td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
  <tr>
    <th>Content Type</th>
    <td><%= f.select(:content_type, ["Mythology", "Science", "History", "Architecture", "Science","Mathematics"]) %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= f.text_area(:content, size:"50x10") %></td>
  </tr>
</table>
