<h1>Update Section</h1>

<%= form_for(@section) do |f| %>
<table>
  <tr>
    <th>Section Name</th>
    <td><%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th>Page Id</th>
    <td><%= f.text_field(:page_id) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= f.text_field(:visible) %></td>
  </tr>
  <tr>
    <th>Content Type</th>
    <td><%= f.text_field(:content_type) %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= f.text_field(:content) %></td>
  </tr>
</table>
<div class="form-buttons">
  <%= f.submit("Update Section") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to sections", sections_path) %>
</div>
